# ctransformers==0.2.5
# sentence-transformers==2.2.2
# pinecone-client==2.2.4
# langchain==0.0.225
# flask
# pypdf
# python-dotenv

# Optional extras depending on the video structure
# langchain-pinecone
# langchain_community
# langchain_openai
# langchain_experimental

langchain
langchain-core
langchain-openai
langchain-community

openai
pinecone-client
sentence-transformers
pypdf
flask
python-dotenv
-e .